@import 'vars';
@import 'mixins';

@include main;

header {
    width: 100%;
    height: 50em;
    background: url('../img/background.jpg');
    background-size: cover;
    padding: 2em 20%;

    .mainNavigation {
        width: 100%;
        height: 3.7em;
        background: #fff;
        padding: .5em 1em;

        .logo {
            display: inline-block;
            width: 20%;
            font-weight: bold;
            font-size: 2em;
        }

        ul {
            display: inline-block;
            width: 79%;
            text-align: right;
            list-style: none;
            text-transform: uppercase;

            li {
                display: inline-block;
                margin-left: 1em;

                a {
                    text-decoration: none;

                    &:hover {
                        color: $main_red;
                    }
                }
            }
        }
    }

    h1 {
        display: block;
        margin: 22% auto 0;
        width: 55%;
        color: #fff;
        font-weight: normal;
        text-align: center;
        font-size: 3em;
        border-bottom: 1px solid $main_red;
    }

    h2 {
        color: #fff;
        font-weight: normal;
        text-align: center;
    }
}

.redText {
    color: $main_red;
}

section {
    width: 100%;
    padding: 7em 15%;
    white-space: nowrap;

    h1 {
        text-align: center;
        margin-bottom: 2em;
        text-transform: uppercase;
    }

    .column {
        display: inline-block;
        width: 25%;
        white-space: normal;

        img {
            display: block;
            margin: 0 auto;
            width: 80%;
        }

        h2 {
            font-weight: normal;
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.catalog {
    background: $grey_background;
}

.button {
    display: block;
    width: 50%;
    margin: .5em auto 0;
    padding: .5em 1em;
    background: $main_red;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;

    &:hover {
        background: #000;
    }
}

table {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;

    th, td {
        padding: 1em;
    }

    thead {
        background: $main_red;

        th {
            color: #fff;
        }
        
        th:first-child {
            background: $red_dark;
        }
    }

    tbody {
        padding: 0 1em;

        tr {
            border-bottom: 1px solid $main_text_color;

            &:hover {
                background: $grey_background;
            }

            td:first-child {
                font-weight: bold;
                background: $grey_background;
            }
        }
    }
}

footer {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em 20%;
    @include clearfix;

    .logo {
        border-bottom: 1px solid $main_red;
        font-size: 1.5em;
    }

    .info {
        float: left;
        padding: 1em;
        color: #fff;
        font-size: .9em;
        font-style: italic;
    }

    iframe {
        float: right;
        padding: 1em;
        text-align: right;
    }
}

.pricingButton { display: none; }

@media screen and(max-width: 1250px) {
    header { padding: 2em 10%; }
}

@media screen and(max-width: 950px) {
	header { 
		padding: 2em 1%; 

		h1 { width: 90%; }

		.mainNavigation {
			height: 2em;
			padding: .2em 1em;
			.logo { font-size: 1em; }
			ul { font-size: .9em; }
		}
	}

	section {
		padding: 5em 5%;
		white-space: normal;

		.column {
			width: 49%;
			margin-bottom: 5em;
		}
	}

	footer {
		text-align: center;
		.info, iframe { 
			width: 100% 
		}
	}
}

@media screen and(max-width: 650px) {
	header {
		background: #000;
		height: auto;

		.mainNavigation {
			height: auto;

			ul {
				width: 100%;

				li {
					width: 100%;
					text-align: center;
					padding: 1em;
				}

			}
		}

		h1 {
			margin-top: 1em;
		}
	}

	section {
		.column {
			width: 100%;
			margin-bottom: 5em;
		}
	}

	.button {
		padding: 2em;
	}

	.pricingButton {
		display: block;
	}

	table { display: none;}
}